{%include 'header.html' %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-8">
							<h6 class="text-white">Openning on 1st September, 2023</h6>
							<h1 class="text-white">
								Exhibition on Modern Era				
							</h1>
							<p class="pt-20 pb-20 text-white">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.  sed do eiusmod tempor incididunt..
							</p>
							<a href="#" class="primary-btn text-uppercase">Get Started</a>
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->	

			{%include 'ooo.html' %}
			{%include 'upperofongo.html' %}
			{%include 'ongoingex.html' %}
			{%include  'bevent.html' %}
			
			{%include 'fgallery.html' %}
			{%include 'footer.html' %}