			<!-- Start service Area -->


			<section class="service-area pt-100" id="about">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-clock"></span>
							  <h4>Openning Hours</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p>
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="/addtocart/{{item.id}}" class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-rocket"></span>
							  <h4>Ongoing Exhibitions</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p>
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>

						

						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-briefcase"></span>
							  <h4>Openning Events</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">

								<div class="col-lg-4">
									<div class="single-service">
								<div class="single-element-widget mt-30">
									<h5 class="mb-30">Select Quantity</h5>

							    
									<form action = "#" method="post">
										<!-- <div class="form-group"> -->
										{% csrf_token %}

										<input
										type="text"
										class="form-control"
										id = 'username'
										name="quanti"
										aria-describedby="emailHelp"
										placeholder="Enter Quantity"
										style="width: 140px;
									
										"
									  />

									  <button type="submit" class="btn btn-primary">Buy ticket</button>

									</form>
									</div>

									</div>
									</div>

							    	<!-- <a href="/addtocart/{{item.id}}" class="text-uppercase primary-btn">Buy ticket</a> -->
							    </div>
							  </div>
							</div>							
						</div>												
					</div>
				</div>	
			</section>
			<!-- End service Area -->


			<!-- <form method="post">
				{% csrf_token %}

				<div class="col-lg-4">
					<div class="single-service">
				<div class="single-element-widget mt-30">
					<h3 class="mb-40">Select Quantity</h3>

					<div class="default-select" id="default-select">
						<select name = 'quanti'>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<a href="/addtocart/{{item.id}}" class="text-uppercase primary-btn">Buy ticket</a>
				</form>
				</div>
				</div> -->

