			<!-- Start quote Area -->
			<section class="quote-area section-gap">
				<div class="container">				
					<div class="row">
						<div class="col-lg-6 quote-left">
							<h1>
								<span>{{item.name}}</span> {{item.pk}} <br>
								<!-- {{item.name}} <span> ok </span> ok <br>
								ok <span> bold </span>. -->
							</h1>
							<div class="thumb">
								<img class="img-fluid" src="{{item.img.url}}" alt="">						
							</div>
						</div>
						<div class="col-lg-6 quote-right">
							<p>
								{{item.des}}
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End quote Area -->